:root {
  --card-color: #e7ecef;
  --button-color: #274c77;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button {
  font-family: monospace;
}
.card {
  background-color: rgba(231, 236, 239, 0.8);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.controls h1 {
  text-align: center;
  color: var(--button-color);
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cityName,
button {
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
  border: 0;
}

button {
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
}
.send button {
  margin-left: 20px;
}

.data {
  margin-top: 20px;
  line-height: 30px;
  font-size: 16px;
  padding-left: 30px;
}

.data span {
  color: var(--button-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.temp-type {
  background-color: rgba(231, 236, 239, 0.8);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  width: 120px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
}

#c {
  margin-right: 20px;
  cursor: pointer;
}

#f {
  cursor: pointer;
}

.active {
  color: blue;
}
